---
kind: Secret
apiVersion: v1
metadata:
  name: litellm-mcp-server-secret
  namespace: mcp
type: Opaque
data:
  # Example: 
  LITELLM_BASE_URL: <base64-encoded-value>
  LITELLM_API_KEY: <base64-encoded-value>